.form-1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-1-container .exam-form-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-1-container .exam-form-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-1-container .exam-form-options .exam-form-option--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.form-1-container .exam-form-options .exam-form-option--container .form-check-input {
  margin-left: 6px;
  width: 15px !important;
  height: 15px !important;
}

.form-1-container .exam-form-options .exam-form-option--container .option-description--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-1-container .exam-form-options .exam-form-option--container .option-description--container .input-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
}

.form-input--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 26px;
}

.form-input--container .form-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
}

.form-input {
  width: 50%;
  border-radius: 10px;
  padding: 10px 20px;
  outline: none;
  background-color: #eef3f7;
  border: 1px solid;
  border-color: #eef3f7;
  color: #5e6278;
  -webkit-transition: color .2s ease,background-color .2s ease;
  transition: color .2s ease,background-color .2s ease;
}

.form-input-radio--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 26px;
}

.form-input-radio--container .form-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
}

.form-input-radio--container .radio--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
}

.form-input-radio--container .radio--container .select-form-input {
  width: 100px;
  border-radius: 10px;
  padding: 10px 20px;
  outline: none;
  background-color: #eef3f7;
  border: 1px solid;
  border-color: #eef3f7;
  color: #5e6278;
  -webkit-transition: color .2s ease,background-color .2s ease;
  transition: color .2s ease,background-color .2s ease;
}

.form-input-radio--container .radio--container .input-radio-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 26px;
}

.form-input-radio--container .radio--container .input-radio-title .form-check-input {
  margin-left: 6px;
  width: 15px !important;
  height: 15px !important;
}

#dateTimePicker {
  width: 90%;
  border-radius: 10px;
  padding: 10px 20px;
  outline: none;
  background-color: #eef3f7;
  border: 1px solid;
  border-color: #eef3f7;
  color: #5e6278;
  -webkit-transition: color .2s ease,background-color .2s ease;
  transition: color .2s ease,background-color .2s ease;
  cursor: pointer;
}

#dateTime-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#form-input--show-exam-result {
  width: 30%;
  border-radius: 10px;
  padding: 10px 20px;
  outline: none;
  background-color: #eef3f7;
  border: 1px solid;
  border-color: #eef3f7;
  color: #5e6278;
  -webkit-transition: color .2s ease,background-color .2s ease;
  transition: color .2s ease,background-color .2s ease;
  margin: 0 5px;
}
/*# sourceMappingURL=addingExam.css.map */