$bs-text-primary:#9899ac;
$bs-light-primary: #F1FAFF;
$bs-active-primary: #0095E8;
$bs-light-success: #E8FFF3;
$bs-active-success: #47BE7D;
$bs-light-info: #F8F5FF;
$bs-active-info: #5014D0;
$bs-light-warning: #FFF8DD;
$bs-active-warning: #F1BC00;
$bs-light-danger: #FFF5F8;
$bs-active-danger: #D9214E;
$bs-light-dark: #EFF2F5;
$bs-active-dark: #131628;
$bs-sidebar-bg: #1e1e2d;
$bs-sidebar-bg-active: #1a1a27;
$bs-gray-100: #F5F8FA;
$bs-gray-200: #EFF2F5;
$bs-gray-300: #E4E6EF;
$bs-gray-400: #B5B5C3;
$bs-gray-500: #A1A5B7;
$bs-gray-600: #7E8299;
$bs-gray-700: #5E6278;
$bs-gray-800: #3F4254;
$bs-gray-900: #181C32;
$bs-xs: 0;
$bs-sm: 576px;
$bs-md: 768px;
$bs-lg: 992px;
$bs-xl: 1200px;
$bs-xxl: 1400px;
$bs-border-color: #EFF2F5;
$bs-border-dashed-color: #E4E6EF;
$bs-blue: #009ef6;
$bs-indigo: #6610f2;
$bs-purple: #6f42c1;
$bs-pink: #d63384;
$bs-red: #dc3545;
$bs-orange: #fd7e14;
$bs-yellow: #ffc107;
$bs-green: #198754;
$bs-teal: #20c997;
$bs-cyan: #0dcaf0;
$bs-gray: #7E8299;
$bs-gray-dark: #3F4254;
$bs-white: #ffffff;
$bs-light: #F5F8FA;
$bs-primary: #009EF7;
$bs-secondary: #E4E6EF;
$bs-success: #50CD89;
$bs-info: #7239EA;
$bs-warning: #FFC700;
$bs-danger: #F1416C;
$bs-dark: #181C32;
$bs-white-rgb: 255,255,255;
$bs-light-rgb: 245,248,250;
$bs-primary-rgb: 0,158,247;
$bs-secondary-rgb: 228,230,239;
$bs-success-rgb: 80,205,137;
$bs-info-rgb: 114,57,234;
$bs-warning-rgb: 255,199,0;
$bs-danger-rgb: 241,65,108;
$bs-dark-rgb: 24,28,50;
$bs-white-rgb: 255,255,255;
$bs-black-rgb: 0,0,0;
$bs-body-color-rgb: 24,28,50;
$bs-body-bg-rgb: 255,255,255;
$bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
$bs-body-font-size: 1rem;
$bs-body-font-weight: 400;
$bs-body-line-height: 1.5;
$bs-body-color: #181C32;
$bs-body-bg: #ffffff;

:export {
    bs-text-primary:$bs-text-primary;
    bs-light-primary:$bs-light-primary;
    bs-active-primary:$bs-active-primary;
    bs-light-success:$bs-light-success;
    bs-active-success:$bs-active-success;
    bs-light-info:$bs-light-info;
    bs-active-info:$bs-active-info;
    bs-light-warning:$bs-light-warning;
    bs-active-warning:$bs-active-warning;
    bs-light-danger:$bs-light-danger;
    bs-active-danger:$bs-active-danger;
    bs-light-dark:$bs-light-dark;
    bs-active-dark:$bs-active-dark;
    bs-gray-100:$bs-gray-100;
    bs-gray-200:$bs-gray-200;
    bs-gray-300:$bs-gray-300;
    bs-gray-400:$bs-gray-400;
    bs-gray-500:$bs-gray-500;
    bs-gray-600:$bs-gray-600;
    bs-gray-700:$bs-gray-700;
    bs-gray-800:$bs-gray-800;
    bs-gray-900:$bs-gray-900;
    bs-xs:$bs-xs;
    bs-sm:$bs-sm;
    bs-md:$bs-md;
    bs-lg:$bs-lg;
    bs-xl:$bs-xl;
    bs-xxl:$bs-xxl;
    bs-border-color:$bs-border-color;
    bs-border-dashed-color:$bs-border-dashed-color;
    bs-blue:$bs-blue;
    bs-indigo:$bs-indigo;
    bs-purple:$bs-purple;
    bs-pink:$bs-pink;
    bs-red:$bs-red;
    bs-orange:$bs-orange;
    bs-yellow:$bs-yellow;
    bs-green:$bs-green;
    bs-teal:$bs-teal;
    bs-cyan:$bs-cyan;
    bs-gray:$bs-gray;
    bs-gray-dar:$bs-gray-dark;
    bs-white:$bs-white;
    bs-light:$bs-light;
    bs-primary:$bs-primary;
    bs-secondary:$bs-secondary;
    bs-success:$bs-success;
    bs-info:$bs-info;
    bs-warning:$bs-warning;
    bs-danger:$bs-danger;
    bs-dark:$bs-dark;
    bs-white-rgb:$bs-white-rgb;
    bs-light-rgb:$bs-light-rgb;
    bs-primary-rgb:$bs-primary-rgb;
    bs-secondary-rgb:$bs-secondary-rgb;
    bs-success-rgb:$bs-success-rgb;
    bs-info-rgb:$bs-info-rgb;
    bs-warning-rgb:$bs-warning-rgb;
    bs-danger-rgb:$bs-danger-rgb;
    bs-dark-rgb:$bs-dark-rgb;
    bs-white-rgb:$bs-white-rgb;
    bs-black-rgb:$bs-black-rgb;
    bs-body-color:$bs-body-color;
    bs-body-bg:$bs-body-bg;
    bs-gradient:$bs-gradient;
    bs-body-color:$bs-body-color;
    bs-body-bg:$bs-body-bg;
    bs-sidebar-bg:$bs-sidebar-bg;
}