@use './styles/mixins.module';  
@import './styles/_variables.scss';


@mixin primary-box {
    padding: 20px   ;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
}

.app_container{
    width: 100%;
    height: auto;
    font-weight: 600;
    background-color: $bs-gray-100;
    .container{
        display: flex;
        flex-direction: column;
        transition: .4s;
        min-height: 100vh;
        .sidebar{ 
            user-select: none;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            width: 265px;
            background-color: $bs-sidebar-bg;
            transition: .3s;
            // overflow-x: hidden;
            overflow:hidden;
            z-index: 2;
            &:hover{
                overflow-y: auto;
            }
            &::-webkit-scrollbar {
                width: 6px;
                &-track {
                    background-color: transparent;
                }
                &-thumb {
                    background-color: #3F4254;
                }
                
            }
            .sidebar-header{
                background-color: $bs-sidebar-bg-active;
                display: flex;
                justify-content: space-between;
                padding: 25px 25px;
                color: $bs-blue;
                .menu-arrow{
                    align-items: center;
                    height: 24px;
                    cursor: pointer;
                    filter:grayscale(1);
                    transition: .3s ease-in-out;
                    // &:hover{
                    //     filter: unset;
                    //     rotate: 180deg;
                    // }
                }
            }
            .menu-container{
            background-color: $bs-sidebar-bg;
                
            }
        }
        .active-fixed{
            width: 265px;
            transition: width .3s ease;
        }
        .active-arrow{
            rotate: 180deg;
            filter:unset !important;
        }
        .staible-menu:hover{
            filter: unset !important;
        }
        // header of page
        header{
            width: 100%;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
            background-color: #fff;
            .user-details{
                padding: 10px 30px;
                display: flex;
                justify-content: end;
                ul{
                    display: flex;
                    list-style: none;
                    align-items: center;
                    li{
                        margin-right: 10px;
                        &:last-child{
                            height: 30px;
                        }
                    }
                }
            }
            .page-details{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 30px;
                .filter-btn{
                    display: flex;
                    :last-child{
                        margin-right: 10px;
                    }
                }
            }
        }


    .component-container{
            padding: 0 30px;
            margin: 30px 0;
            .transaction-container{
                display: grid;
                grid-template-columns: 2fr 5fr;
                column-gap: 30px;
                .transaction-record-sidebox{
                    display: flex;
                    flex-direction: column;
                    .transaction-detail-container{
                        display: flex;
                        flex-direction: column;
                        border-radius:10px ;
                        margin-bottom: 30px;
                        // padding-bottom: 20px;
                        background-color: #fff;
                        .chart-container{
                            p{
                                background-color:#F1416C ;
                                padding:10px 20px;
                                color: #fff;
                                font-size: 15px;
                                font-weight: 600;
                            }
                        }
                        .transaction-buttons-container{
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            column-gap: 22.5px;
                            padding: 20px;
                            padding-bottom: 0;
                            position: relative ;
                            top: -60px;
                            // display: flex;
                            .primary-box{
                                @include primary-box();
                            }
                            .box-1{
                                background-color: $bs-light-success;
                                color: $bs-green;
                            }
                            .box-2{
                                background-color: $bs-light-warning;
                                color: $bs-warning;
                            }
                        }
                    }
                    .transaction-filter-box{
                        background-color: #fff;
                        border-radius: 15px;
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        padding: 20px 10px;
                        #reset-btn{
                            color: $bs-blue;
                            font-weight: 700;
                        }
                        .filter-input-container{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            &:not(:last-child){
                                margin-bottom: 20px;
                            }
                            p{
                                margin-bottom: 10px;
                            }
                            .double-inputs-contanier{
                                display: flex;
                                :first-child{
                                    margin-left: 20px;
                                }
                        }
                    }
                    
                    // padding bottom 20px
                    .input-handler{
                        width: 100%;
                        border-radius: 10px;
                        padding: 10px 20px;
                        outline: none;
                        background-color: #eef3f7;
                        border:  1px solid;
                        border-color: #eef3f7;
                        color: #5e6278;
                        transition: color .2s ease,background-color .2s ease;
                    }
                }
            }
        }
        
    }
    .transaction-list-container{
        display: flex;
        flex-direction: column;
        height: fit-content;

        // @include primary-box();
        .grid{
            display: grid;
            grid-template-columns: 5px repeat(11,55px) ; // changed here
            grid-column-gap: 20px;
        }
        .header-list{
            border-bottom: 1px solid $bs-gray-200;
            ul{
                // display: flex;
                list-style: none;
                justify-content: space-between;
                font-size: 13px;
                color: $bs-gray-800;
                padding: 10px 0;
            }
        }
        
        .admin-list-container{
            display: flex;
            flex-direction: column;
            // :nth-child(even){
            //     background-color: $bs-gray-200;
            // }
            
        }
    }
        .main-full{
            margin-right: 62px;
            margin-left: 62px;
        }
    }
}

.chart-container :is(.apexcharts-grid ,.apexcharts-xaxis ,.apexcharts-yaxis,.apexcharts-data-labels) {
    display: none;
}
// #CB1C47

.active-primary-box{
    @include primary-box();
}
.homework-list-container{
    ol{

        .homework-list-container{
            // display: list-item;
            display: grid !important;
            grid-template-columns: 55px 55px 55px 55px 55px 55px 55px 55px 55px 55px 55px ;
            grid-column-gap: 20px;
            // justify-content: space-between;
            padding: 10px 0;
            padding-right: 20px;

        }
    }
}

.deactive-relative-box{
    position:static !important;
    top: 0!important;
    padding: 20px !important;
}

table {

    border-collapse: collapse;
    width: 100%;
  }

th{
    font-weight: 800;
}

  td, th {
    border: 1px solid #dddddd;
    text-align: right;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.checkbox--container{
    display: flex;
    align-items: center;
    input{
        margin-left: 6px;
    }
}
.corrected-btn{
    margin-top: 16px;
    @include mixins.form-add-button();
}
.switch {
    display: inline-block;
    span {
        position: relative;        
        width: 60px;
        height: 34px;
        float: right;
        input {
            display:none;
            &:checked + .slider { background-color: #005CC8; }
            &:checked + .slider:before { transform: translateX(26px); }
            &:focus + .slider { box-shadow: 0 0 1px #005CC8; }
        }
    }
    label {
        line-height: 34px;
        margin-left: 12px;
        cursor: pointer;
    }
}
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    border: 0;
    outline: none;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
    cursor: pointer;
    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }
}

.userprofile{
    width:30px;
    height:30px !important ;
    border-radius: 99px;
    border: 1px solid #000;
}