@import "./styles/variables";

@font-face {
    font-family: "IRANSansWeb";
    src: url("./assets/fonts/IRANSansFaNum_UltraLight.ttf");
    src: url("./assets/fonts/IRANSansFaNum_UltraLight.ttf")
        format("truetype"),
    url("./assets/fonts/IRANSansFaNum_Medium.ttf")
        format("truetype"),
    url("./assets/fonts/IRANSansFaNum_Medium.ttf")
        format("truetype"),
}


* ,
::after,::before{
    box-sizing: border-box;
    direction: rtl;
    margin: 0;
    padding: 0;
    outline: none;
    resize: none;
    font-family: "IRANSansWeb", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
        input { outline: none; }
        
    }

body {
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button 
        {
            // -webkit-appearance: none;
            margin: 0;
        }
        /* For Firefox  */
        input[type="number"] {
            -moz-appearance: textfield;
        }

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

// ::-webkit-scrollbar {
//     width: 6px;
//     &-track {
//         background-color: transparent;
//     }
//     &-thumb {
//         background-color: #3F4254;
//     }
    
// }
